<md-dialog>
  <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create New Tile</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close dialog" ng-click="cancel()">
          <md-icon md-svg-icon="images/cancel-white-24px.svg"></md-icon>
        </md-button>
      </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="tileform">
      <form name="tileForm">
        <md-input-container class="md-block">
          <label>Enter Tile Name</label>
          <input ng-model="tile">
        </md-input-container>

    

       <br><br>
       <md-input-container>
        <label>Size</label>
        <md-select ng-model="tileWidth">
          <md-option ng-repeat="x in ['Small','Medium','Large']">{{x}}</md-option>
        </md-select>
       </md-input-container>
       <br><br>

       <md-input-container style="margin-right: 10px;">
         <label>colors</label>
         <md-select ng-model="col" class="inlineblock">
          <md-option ng-repeat="c in colors " class="inline_color_block" style="background:{{c}}">{{c}}</md-option>
         </md-select>
       </md-input-container>

       <br><br>
       <md-button class="md-primary md-raised" ng-click="addtile(tile,tileWidth,tileHeight,col)" > Submit
       </md-button>
    </form>
   </div>
  </md-dialog-content>
</md-dialog>
