<div class="grid-list" scroll-glue="glued">
  <md-grid-list md-cols="6" md-row-height="1:1" >

  <md-grid-tile class="tileadd" md-colspan="2" md-rowspan="2" style="background:gray">
           <md-button class="md-fab md-primary" aria-label="create new tile" ng-click="showCustom($event)">
                <md-icon class="material-icons">add</md-icon>
           </md-button>
    </md-grid-tile>

    <md-grid-tile class="tile" ng-repeat="msg in msg | filter:6" md-colspan="{{msg.column}}" md-rowspan="{{msg.row}}" style="background:{{msg.colour}}">
      <div class="slideTextUp "  >
          <tile-message-renderer tile-name={{msg.id}} tile-channel={{msg.channelid}}></tile-message-renderer>
          <md-grid-tile-header class="tilename" layout="row">
              {{msg.tileName}}

          </md-grid-tile-header>
      </div>
    </md-grid-tile>
  </md-grid-list>
</div>
